<div th:fragment="main-page-banner" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="banner flex-row">
        <h1>Codecool Shop</h1>
        <div class="user-panel flex-row">
            <div class="flex-row">
                <p id="total-price-and-quantity">(5)</p>
                <a class="cart-btn" th:href="@{/cart}"><i class="fas fa-shopping-cart"></i>Cart</a>
            </div>
            <div>
                <a class="sign-up-btn" th:href="@{/registration}"><i class="fas fa-user-plus"></i>Sign Up</a>
            </div>
            <div th:if="${session.user}" class="logged flex-row">
                <p>User <span th:text="${session.user.name}"/></p>
                <a class="user-logout-btn" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i>Logout</a>
                <a class="user-orders-btn" th:href="@{'/orders?user=' + ${session.user.id}}">Orders</a>
            </div>
            <div th:unless="${session.user}" class="not-logged">
                <a class="user-login-btn" th:href="@{/login}"><i class="fas fa-sign-in-alt"></i>Login</a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="main-page-nav-bar" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="nav-bar flex-row">
        <div class="categories flex-col">
            <ul class="flex-row products">
                <li><a class="tablets" href="#">Tablets</a></li>
                <li><a class="phones" href="#">Phones</a></li>
                <li><a class="notebooks" href="#">Notebooks</a></li>
                <li><a class="web-devices" href="#">Web devices</a></li>
            </ul>
            <ul class="flex-row suppliers">
                <li><a class="amazon" href="#">Amazon</a></li>
                <li><a class="lenovo" href="#">Lenovo</a></li>
                <li><a class="apple" href="#">Apple</a></li>
            </ul>
        </div>
        <div class="sort-option">
            <a id="toggle-sort-option" href="#">sort by suppliers</a>
        </div>
    </div>
</div>
