<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script type="module" src='/static/js/main.js' defer></script>
</head>

<body>

<div class="banner">
    <h1>Codecool Shop</h1>
</div>
<div class="nav-bar flex-row">
    <div class="categories flex-col">
        <ul class="flex-row products">
            <li><a class="tablets" href="#">Tablets</a></li>
            <li><a class="phones" href="#">Phones</a></li>
            <li><a class="notebooks" href="#">Notebooks</a></li>
            <li><a class="web-devives" href="#">Web devices</a></li>
        </ul>
        <ul class="flex-row suppliers">
            <li><a class="amazon" href="#">Amazon</a></li>
            <li><a class="lenovo" href="#">Lenovo</a></li>
            <li><a class="apple" href="#">Apple</a></li>
        </ul>
    </div>
    <div class="sort-option">
        <a id="toggle-sort-option" href="#">sort by suppliers</a>
    </div>
</div>
<div class="container">
</div>

<div th:replace="footer.html :: card"></div>

</body>
</html>