<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop || Orders list</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/order.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script type="module" src='/static/js/order_handler.js' defer></script>
</head>
<body>
<div xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="banner flex-row">
        <h1>Order history</h1>
    </div>
</div>

<div class="user-description">
    <span th:text="${user.name}"></span>
</div>

<div class="container">
    <div id="items" class="items flex-col">
        <div class="card-details item flex-row" th:each="order: ${orders}">
            <a th:href="@{'summary/' + ${order.id}}"><p>Order <span th:text="${order.id}"/></p></a>
            <p>Date: <span th:text="${order.date}"/></p>
            <p>Total Price: <span th:text="${order.totalPrice}"/></p>
            <p>Paid: <span th:text="${order.paid}"/> <span/></p>
        </div>
    </div>
</div>

<div th:replace="footer.html :: card"></div>
</body>
</html>