<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop || Orders list</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/order.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script type="module" src='/static/js/order_handler.js' defer></script>
</head>
<body>
<div xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="banner flex-row">
        <h1>Codecool Shop</h1>
    </div>
</div>

<div class="container"></div>

<div th:replace="footer.html :: card"></div>
</body>
</html>