<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Codecool Shop || Cart</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/cart.css"/>
</head>
<body>
<div class="content flex-col">
    <div class="cart">
        <div class="user-items flex-col">
            <div class="cart-header flex-row">
                <p>Order nr.</p>
                <p id="username-cart-title" th:text="${order.id}"></p>
            </div>
            <div id="items" class="items flex-col">
                <div class="card-details item flex-row" th:each="product: ${products}">
                    <span>Name: <span th:text="${product.product.name}"/></span>
                    <span>Quantity: <span th:text="${product.quantity}"/></span>
                    <span>Price: <span th:text="${product.product.defaultPrice} * ${product.quantity}"/> <span
                            th:text="${product.product.defaultCurrency}"/></span>
                </div>
            </div>
            <div class="items flex-col">
                <div class="card-details item flex-row">
                    <span>Total Price: <span th:text="${totalPrice}"/></span>
                </div>
            </div>
            <div class="items flex-col">
                <div class="card-details item flex-row">
                    <p>Shipping address:</p>
                    <p th:text="${user.shippingAddress.country}"></p>
                    <p th:text="${user.shippingAddress.city} + ${space} + ${user.shippingAddress.zipCode}"></p>
                    <p th:text="${user.shippingAddress.street} + ${space} + ${user.shippingAddress.localNumber}"></p>
                </div>
                <div th:if="${!order.paid}" class="items flex-col">
                    <p>You didn't paid for your order yet.</p>
                    <a th:href="@{${paymentLink}}" class="card-details item submit-button flex-col c">GO TO CHECKOUT</a>
                </div>
            </div>
        </div>
</body>
</html>