<div th:fragment="main-page-banner" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="banner flex-row">
        <h1>Codecool Shop</h1>
        <div class="user-panel flex-row">
            <a th:href="@{/cart}"><i class="fas fa-shopping-cart"></i>Cart</a>
        </div>
    </div>
</div>

<div th:fragment="main-page-nav-bar" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="nav-bar">
        <ul class="flex-row">
            <li><a class="tablets" href="#">Tablets</a></li>
            <li><a class="phones" href="#">Phones</a></li>
            <li><a class="notebooks" href="#">Notebooks</a></li>
            <li><a class="web-devives" href="#">Web devices</a></li>
        </ul>
    </div>
</div>