<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop || Cart</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/cart.css" />
    <script type="module" src='/static/js/cart_handler.js' defer></script>
</head>
<body>
<div class="content flex-col">
    <form class="flex-col" action="#">
        <div class="cart">
            <div class="user-items flex-col">
                <div class="cart-header flex-row">
                    <h1 id="username-cart-title">UserName Cart</h1>
                    <a id="remove-all-from-basket-button"><i class="fas fa-trash-alt"></i>Clear CART</a>
                </div>
                <div id="items" class="items flex-col">

                </div>
            </div>
        </div>
        <div th:replace="cart/cart-fragment.html :: billing-address"></div>
        <div class="button">
            <a id="set-same-button" class="submit-button" value="Set same address">Set same address</a>
        </div>
        <div th:replace="cart/cart-fragment.html :: shipping-address"></div>
        <div class="button">
            <a id="form-submit-button" class="submit-button" value="Go to checkout">Go to checkout</a>
        </div>
        <div class="shopping-btn-container">
            <a class="resume-shopping-button" href="/">Back to shopping</a>
        </div>
    </form>
</div>
<div class="home-page"><i class="fas fa-home"></i>Home page</div>
</body>
</html>