<li th:fragment="credit-card" class="credit-card" xmlns:th="http://www.w3.org/1999/xhtml">
    <form action="/registration" class="details flex-col">
        <a href="#"><h3>credit card</h3></a>
        <div class="personal-info flex-col">
            <div class="number flex-row">
                <label for="card-number">card number</label>
                <input id="card-number" placeholder="card number" class="card-number" type="text" size="16" required>
            </div>
            <div class="card-holder flex-row">
                <label for="holder">card holder</label>
                <input id="holder" type="text" placeholder="first and last name" class="holder" size="16" required>
            </div>
            <div class="expiry-date flex-row">
                <label for="exp-date">card holder</label>
                <input id="exp-date" type="date" placeholder="dd-mm-yyyy" class="exp-date" size="10" required>
            </div>
            <div class="validation-code flex-row">
                <label for="code">validation code</label>
                <input id="code" type="text" placeholder="code" class="code" size="16" required>
            </div>
            <div class="input-btn flex-col">
                <input type="submit" class="pay-button" value="PAY">
            </div>
        </div>
    </form>
</li>

<li th:fragment="paypal" class="paypal" xmlns:th="http://www.w3.org/1999/xhtml">
    <form action="#" class="details flex-col">
        <a href="#"><h3>paypal</h3></a>
        <div class="personal-info flex-col">
            <div class="name flex-row">
                <label for="username">username</label>
                <input id="username" class="username" placeholder="username" type="text" size="16" required>
            </div>
            <div class="password flex-row">
                <label for="pass">password</label>
                <input id="pass" type="text" placeholder="password" class="pass" size="16" required>
            </div>
            <div class="input-btn flex-col">
                <input type="submit" class="login-button" value="LOGIN">
            </div>
        </div>
    </form>
</li>