<form  th:fragment="user-registration" class="registration" xmlns:th="http://www.w3.org/1999/xhtml"
       action="/registration" method="post">
    <div class="user-info flex-col">
        <div class="name flex-row">
            <label for="user-name">Name</label>
            <input id="user-name" name="user-name" placeholder="user name" class="user-name" type="text" maxlength="32"
                   pattern="[A-Za-z]{1,32}" required>
        </div>
        <div class="email flex-row">
            <label for="email">Email</label>
            <input id="email" pattern="[^@]+@[^\.]+\..+" type="email" placeholder="email"
                   class="user-email" name="user-email" maxlength="32" required>
        </div>
        <div class="password flex-row">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="password" class="user-password"
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one
                   uppercase and lowercase letter, and at least 8 or more characters" name="password" required>
        </div>
        <div class="confirm-password flex-row">
            <label for="confirm-password">Confirm Password</label>
            <input id="confirm-password" type="password" placeholder="confirm password" class="user-confirm-password"
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one
                   uppercase and lowercase letter, and at least 8 or more characters" name="password" required>
        </div>
        <div class="input-btn flex-col">
            <input type="submit" class="register-button" value="Join">
        </div>
    </div>
    <div class="login-redirect flex-row">
        <p>Already Have An Account?</p>
        <a href="/login">Sign In</a>
    </div>
</form>